.defaultBackground {
  background-color: #faeee7;
}
.main-color {
  color: #33272a;
}
.sub-color {
  color: #594a4e;
}
.accent-color {
  color: #ff8ba7;
}
.accent-color2 {
  color: #c3def0;
}

.kiwi {
    font-family: "Kiwi Maru", sans-serif;
}
.NotoSans {
    font-family: "Noto Sans JP", sans-serif;
}