.defaultBackground {
  background-color: #ffffff;
}
.main-color {
  color: #33272a;
}
.sub-color {
  color: #594a4e;
}
.accent-color {
  color: #ff8ba7;
}
.accent-color2 {
  color: #c3def0;
}

.kiwi {
    font-family: "Shippori Antique B1", sans-serif;
    letter-spacing: 0.05em;
}
