$color-main:#fef3e7;
$color-secondary:#6e8059;
$color-black:#1a1a1a;
$color-white:#ffffff;

$color-spring-main: #f8d7e1;
$color-spring-secondary: #6e8059;
$color-spring-black: #2f1f27;
$color-spring-white: #ffffff;